# Database
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=password
DB_USER=postgres
DB_NAME=team_578
DATABASE_URL=postgresql://postgres:password@localhost:5432/team_578

# Database URL for PostgreSQL
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET="some_secure_string"

# Better Auth Social Logins.
GOOGLE_CLIENT_ID=TBD
GOOGLE_CLIENT_SECRET=TBD
GITHUB_CLIENT_ID=TBD 
GITHUB_CLIENT_SECRET=TBD
DISCORD_CLIENT_ID=TBD
DISCORD_CLIENT_SECRET=TBD
